
<!-- <div class="col">
	<div class="card">
		<div class="card-body">
			<img src="..." class="card-img-top" alt="...">
			< %= image_tag("", style:"width: 100%;") %>
			<h5 class="card-title">Card title</h5>
			<p class="card-text"></p>
		</div>
	</div>
</div> -->
