
<div class="col">
	<div class="card">
		<div class="card-body">
			<a class="link-dark" data-bs-toggle="collapse" href="#multiCollapseExample__" role="button" aria-expanded="false" aria-controls="multiCollapseExample__">
				< %= image_tag("", alt:"", style:"width: 100%;") %>
				<h5 class="card-title"> </h5>
				<p> </p>
			</a>
			<div class="collapse" id="multiCollapseExample__">
				<hr>
				<p>Soon, there is a new game coming to town.</p>
			</div>
		</div>
	</div>
</div>
