

<div class="col">
	<div class="card">
		<div class="card-body">
			<a class="link-dark" data-bs-toggle="collapse" href="#multiCollapseExampleLS" role="button" aria-expanded="false" aria-controls="multiCollapseExampleLS">
				<%= image_tag("land surveying.png", style:"width: 100%;") %>
				<h5 class="card-title">Land Surveying (coming soon)</h5>
				<p class="card-text">Set up an imaginary perimeter around a particular property.</p>
			</a>
			<div class="collapse" id="multiCollapseExampleLS">
				<hr>
				<p>If you see this crap then the bootstrap worked or works.</p>
			</div>
		</div>
	</div>
</div>

<div class="col">
	<div class="card">
		<div class="card-body">
			<a class="link-dark" data-bs-toggle="collapse" href="#multiCollapseExampleLP" role="button" aria-expanded="false" aria-controls="multiCollapseExampleLP">
				<%= image_tag("land plotting.png", style:"width: 100%;") %>
				<h5 class="card-title">Land Title plotting (coming soon)</h5>
				<p class="card-text">Using our in-development software, determine the shape of your property the help of the coordinates enlisted at the back of your title.</p>
			</a>
			<div class="collapse" id="multiCollapseExampleLP">
				<hr>
				<p>If you see this crap then the bootstrap worked or works.</p>
			</div>
		</div>
	</div>
</div>
<div class="col">
	<div class="card">
		<div class="card-body">
			<a class="link-dark" data-bs-toggle="collapse" href="#multiCollapseExampleLA" role="button" aria-expanded="false" aria-controls="multiCollapseExampleLA">
				<%= image_tag("law.png", alt:"law.png", style:"width: 100%;") %>
				<h5 class="card-title">Legal Advices (coming soon)</h5>
				<p class="card-text">Ask us anything about the law.</p>
			</a>
			<div class="collapse" id="multiCollapseExampleLA">
				<hr>
				<p>If you see this crap then the bootstrap worked or works.</p>
			</div>
		</div>
	</div>
</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
