
<div class="container">
	<title>New Affidavit of Authenticity</title>

	<h1>New Affidavit Of Authenticity</h1>

	<%= render 'form', affidavit_of_authenticity: @affidavit_of_authenticity %>

	<%= link_to 'Back', affidavit_of_authenticities_path %>
</div>
