
<div class="container">
  <h1 id="about_us">About Us - Cerebrealty</h1>

  <p>Cerebrealty.com.ph is a website designed for property enlistment, display of enlisted properties offered by some of the top developers in the Philippines like Avida, SM Development Corporation (SMDC), AyalaLand, Alveo, Megaworld, and some of the most trusted and well-known banks in the country like; Bank of the Phlippine Islands (BPI), BDO, Unionbank, and PSBank.</p>

  <p>We, the team responsible for creating this website, aim to present people who are interested in looking for a property for sale, lease, in development, and foreclosed ones, people who want to own a condominium, or a farmland, or people who just want to browse for available properties ready for transaction in the Philippines. We also aim to be one of the Philippines' top and leading real estate online platform in posting real estate properties by means of using today's technology, just like some of the country's well-known real estate websites like: 
    <a href="https://www.lamudi.com.ph">
      <kbd>Lamudi</kbd>
    </a> , and 
      <a href="https://www.property24.com.ph">
        <kbd>Property24</kbd>
    </a> .
  </p>

  <p>And not only do we offer you real estate properties, we also reach out people who need consultations like Law/Legal Advices, Insurance Coverage, and even Engineering Services.</p>
  <!-- meet the licensed people start -->

  <h3 class="text-center">Meet the Licensed People</h3>
  <br>
  <div class="row row-cols-1 row-cols-md-2 ">
    <div class="col">
      <div class="card" >
        <%= image_tag("2x2pic joe bright.jpeg", style:"width: 400px;", class:"text-center rounded-circle") %>
        <div class="card-body">
          <h5 class="card-title">Atty. Joedith Santos</h5>
          <p class="card-text">
            <li>ello</li>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <%= image_tag("Mama2.png", style:"width: 400px;", class:"rounded-circle") %>
        <div class="card-body">
          <h5 class="card-title">Atty. Editha Santos</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- meet the person who handled all the madness in building this website -->

  <h3 class="text-center">Meet the Person who handled all the Madness in building this Website.</h3>
  <br>
  <div class="row row-cols-1 row-cols-md-2 ">
    <div class="col">
      <div class="card">
        <%= image_tag("IMG_7483.JPG", style:"width: 400px;", class:"text-center rounded-circle") %>
        <div class="card-body">
          <h5 class="card-title">Joey Santos</h5>
          <p class="card-text">A child who has a very high expectation in himself.</p>
        </div>
      </div>
    </div>
  </div>

  <p>908,904,590</p>
  <p>908,907,778</p>
  <p>908,909,843</p>
  IMG_7483.JPG
  <p>幕后的星空电影</p>
</div>
