 
<div class="container">
  <h1 id="about_us">About Us - Cerebrealty</h1>

  <p>Cerebrealty.com.ph is a website designed for property enlistment, display of enlisted properties offered by some of the top developers in the Philippines like Avida, SM Development Corporation (SMDC), AyalaLand, Alveo, Megaworld, and some of the most trusted and well-known banks in the country like; Bank of the Phlippine Islands (BPI), BDO, Unionbank, and PSBank.</p>

  <p>We, the team responsible for creating this website, aim to present people who are interested in looking for a property for sale, lease, in development, and foreclosed ones, people who want to own a condominium, or a farmland, or people who just want to browse for available properties ready for transaction in the Philippines. We also aim to be one of the Philippines' top and leading real estate online platform in posting real estate properties by means of using today's technology, just like some of the country's well-known real estate websites like: 
    <a href="https://www.lamudi.com.ph">
      <kbd>Lamudi</kbd>
    </a> , and 
      <a href="https://www.property24.com.ph">
        <kbd>Property24</kbd>
    </a> .
  </p>

  <p>And not only do we offer you real estate properties, we also reach out people who need consultations like Law/Legal Advices, Insurance Coverage, and even Engineering Services.</p>

  <p>908,904,590</p>
  <p>908,907,778</p>
  <p>908,909,843</p>
  IMG_7483.JPG
  <p>幕后的星空电影</p>
</div>
