 
<div class="container">
	<h1>Browse all of our Articles</h1>
	<br>
	<div class="row row-cols-1 row-cols-md-3 g-4">

		<%= render "articles group/letter A" %>
		<%= render "articles group/letter B" %>
		<%= render "articles group/letter L" %>
	</div>
</div>

<!-- <div class="col">
	<div class="card">
		<div class="card-body">
			<a class="link-dark" data-bs-toggle="collapse" href="#multiCollapseExample__" role="button" aria-expanded="false" aria-controls="multiCollapseExample__">
				< %= image_tag("", alt:"", style:"width: 100%;") %>
				<h5 class="card-title"> </h5>
				<p> </p>
			</a>
			<div class="collapse" id="multiCollapseExample__">
				<hr>
				<p>If you see this crap then the bootstrap worked or works.</p>
			</div>
		</div>
	</div>
</div> -->
