
<title>Lawyering</title>

<div class="container">
	<hr>
	<h1>Law Section | Cerebrealty</h1>
	<div class="card w-75">
		<div class="card-body text-center">
			<h5 class="card-title">This Page is under construction</h5>
		</div>
	</div>
	affidavit_of_authenticities
	<a href="<%= affidavit_of_authenticities_path %>" class="btn btn-outline-success">Create a document</a>
</div>
