
<div class="container">
	<hr>
	<h1>Real Estate Section | Cerebrealty</h1>
	<!-- <div class="card w-75">
		<div class="card-body text-center">
			<h5 class="card-title">This Page is under construction</h5>
		</div>
	</div> -->
	<br>
	<%= render "home/cities in manila" %>
	<br> 
	<%= render "home/provinces in pinas" %>
</div> 