
<div class="container">
	<h1>New Listing</h1>

	<%= render 'form', real_estate: @real_estate %>
	<hr>
	<a href="<%= real_estates_path %>">
		<button type="button" class="btn btn-danger">Back/Cancel</button>
	</a>
	
</div>
