
<div>
	<br>
	<div class="container">
		<h2><a href="<%= home_law_section_path %>" class="link-dark">Engineering Section</a></h2>
		<br>
		<div class="text-center">
			<div class="card">
			 	<div class="card-body">
			 		<br>
			    	<h5>Hey, you! Yes, you.</h5>
			    	<h5>Want some little bit of humor instead of Engineering stuff and craziness ?</h5>
			    	<br>
			    	<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary">Click Here !!!</a>
			    	<br>
			    	<br>
			 	</div>
			</div>
		</div>
	</div>
</div>
