
<div class="container text-end">
	<a href="#" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true" role="button" data-bs-toggle="button">
		<%= image_tag("icons/go back to top.svg", style:"width: 40px;") %>
	</a>
</div>
