
<br>
<div class="container text-center" style="color: white;">
	<p>
		<a class="link link-light" href="<%= home_about_path %>">About Us</a> |
		<a class="link link-light" href="<%= home_terms_and_conditions_path %>">Terms and Conditions</a> |
		<a class="link link-light" href="<%= home_contact_us_path %>">Contact Us</a> | 
		<a class="link link-light" href="<%= home_articles_path %>">Didn't find what you're looking for?</a>
	</p>
	<hr style="color: white;">
</div>
<div class="container text-center ">
	<p style="color: white;">Copyright © 2021 J. Santos, All rights reserved. </p>
	<br><br>
</div>
