
<!-- this is the header where you can see the search property bar -->
<nav class="navbar navbar-light bg-primary">
	<!-- container is necessary so the content is not so expanded -->
	<div class="container">
		<div class="input-group mb-3">
			<select class="form-select" aria-label="Default select example">
				<option selected>Any</option>
				<option value="1">For Sale</option>
				<option value="2">For Lease</option>
				<option value="3">Development</option>
				<option value="foreclosed">Foreclosed</option>
			</select>
			<select class="form-select" aria-label="Default select example">
				<option selected>Any</option>
				<option value="condominium">Condominium</option>
				<option value="house and lot">House and Lot</option>
				<option value="lot">Lot</option>
				<option value="townhouse">Townhouse</option>
				<option value="farmland">Farmland</option>
				<option value="apartment">Apartment</option>
				<option value="commercial">Commercial</option>
				<option value="industrial">Industrial</option>
			</select>
			<select class="form-select" aria-label="Default select example">
				<option selected></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
			</select>
			<select class="form-select" aria-label="Default select example">
				<option selected></option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
			</select>
		</div>
	</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

</nav>
